* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

.vista{
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed; 
  top: 100px; left: 300px;
}